

<ol class="breadcrumb breadcrumb-arrow font-trirong">
  <li><a href="javascript://" [routerLink]="['/cns-portal/dashboard/order']"><clr-icon shape="home"></clr-icon></a></li>
  <li><a href="javascript://"  [routerLink]="['/cns-portal/project/all']"> <clr-icon shape="flag"></clr-icon>  Projects</a></li>
  <li><a href="javascript://" > <clr-icon  shape="objects"></clr-icon>  Repositories</a></li>
  <li><a href="javascript://" ><clr-icon shape="grid-view"></clr-icon>  Components</a></li>
  <li><a href="javascript://"><clr-icon shape="application"></clr-icon>  Wireframe</a></li>
</ol>
<br>
<div class="btn-group btn-link" >
  <!-- <button class="btn btn-icon" (click)="gridViewIsActive=!gridViewIsActive">
      <clr-icon *ngIf="!gridViewIsActive" class="is-solid" shape="grid-view" size="24"></clr-icon>
      <clr-icon *ngIf="gridViewIsActive" class="is-solid" shape="view-list" size="24"></clr-icon>
  </button> -->

</div>
<app-wireframe-card *ngIf="!gridViewIsActive" ></app-wireframe-card>
<app-allwireframe *ngIf="gridViewIsActive"></app-allwireframe>

