.clr-input {
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.75rem 0.75rem;
  margin-top: 3px;
  width: 100%;
  margin-bottom: 10px;
}

#t1{

  width:400px;
  height:100px;
}

.form-select {


  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  padding: 0.75rem 0.75rem;
  margin-top: 3px;
  width: 400px;
  height:20px;
  margin-bottom: 10px;


}

.emailkey1{

  margin-left:20px;
  margin-top:20px;


}

.password1{

  margin-top:30px;
  
}

.center {
  text-align: center;
}
select{
  width: 100%;
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
