
<ol class="breadcrumb breadcrumb-arrow font-trirong">
  <li><a href="javascript://" [routerLink]="['/cns-portal/dashboard/order']"> <clr-icon shape="home"></clr-icon></a></li>
  <li><a href="jvascript://"> <clr-icon shape="connect"></clr-icon>SureConnect</a></li>
  <li><a href="javascript://"> <clr-icon shape="flag"></clr-icon> Webhook Workflow</a></li>
</ol>
<br>

<div class="dg-wrapper">
  <div class="clr-row">
    <div class="clr-col-8">
      <h3>Webhook Workflow</h3>
    </div>

  </div>

  <clr-datagrid [clrDgLoading]="loading" [(clrDgSelected)]="selected" >
    <clr-dg-placeholder><ng-template #loadingSpinner><clr-spinner>Loading ... </clr-spinner></ng-template>
      <div *ngIf="error;else loadingSpinner">{{error}}</div></clr-dg-placeholder>

    <clr-dg-column [clrDgField]="'id'"> <ng-container *clrDgHideableColumn="{hidden: false}">
      Id
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'createdat'"> <ng-container *clrDgHideableColumn="{hidden: false}">
    Created At
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'name'"> <ng-container *clrDgHideableColumn="{hidden: false}">
    Event
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'appkey'"> <ng-container *clrDgHideableColumn="{hidden: false}">
    On Entity
    </ng-container></clr-dg-column>
    <clr-dg-column [clrDgField]="'model'"> <ng-container *clrDgHideableColumn="{hidden: false}">
    Body
    </ng-container></clr-dg-column>


    <clr-dg-row *clrDgItems="let user of  data" [clrDgItem]="user">
      <clr-dg-cell id="word">{{user.id}}</clr-dg-cell>
      <clr-dg-cell>{{user.created_at}}</clr-dg-cell>
      <clr-dg-cell id="word">{{user.event}}</clr-dg-cell>
      <clr-dg-cell>{{user.on_entity}}</clr-dg-cell>
      <clr-dg-cell id="word">{{user.response_body}}</clr-dg-cell>
      <clr-dg-action-overflow>
 <button class="action-item" (click)="goto(user.id)">Goto Workflow<clr-icon shape="trash" class="is-error"></clr-icon></button>
        <!-- <button class="action-item" (click)="onDelete(user)">Delete<clr-icon shape="trash" class="is-error"></clr-icon></button> -->
        </clr-dg-action-overflow>

    </clr-dg-row>

    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} users
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="modaldelete" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="true">

  <div class="modal-body" *ngIf="rowSelected.id">
    <h1 class="delete">Are You Sure Want to delete?</h1>
    <h2 class="heading">{{rowSelected.id}}</h2>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline" (click)="modaldelete = false">Cancel</button>
    <button type="submit" (click)="delete(rowSelected.id)" class="btn btn-primary" >Delete</button>
    </div>
  </div>
</clr-modal>


