<div class="container">
  <h3 style="font-weight: 300;display: inline;"><b>Edit List Builder Line</b></h3>
  <span class="label label-light-blue" style="display: inline;margin-left: 10px;">Edit Mode</span>
  <hr />
  <form [formGroup]="entryForm"  (ngSubmit)="onSubmit()">
      <div class="clr-row">
          <div class="clr-col-md-4 clr-col-sm-12">
            <label for="techStack">Wireframe Name</label><div style="margin-top: 20px;"></div>
            <select  name="selectedTable" formControlName="selectedTable" [(ngModel)]="selectedTable" (change)="tableName($event.target.value)" class="clr-dropdown">
              <option value="null">Choose Wireframe Name</option>
              <option *ngFor="let item of wireframeName" [value]="item">{{ item }}
              </option>
            </select>
          </div>
          <div class="clr-col-md-4 clr-col-sm-12">
              <label for="techStack">wireframe column name</label>
              <clr-combobox-container>
              <clr-combobox [(ngModel)]="SelectedColumn" formControlName="SelectedColumn" name="SelectedColumn" clrMulti="true"
                 required>
                  <ng-container *clrOptionSelected="let selected">
                    {{selected}}
                  </ng-container>
                  <clr-options>
                    <clr-option *clrOptionItems="let state of wireframeColName" [clrValue]="state">
                      {{state}}
                    </clr-option>
                  </clr-options>
                </clr-combobox>
                </clr-combobox-container>
              <!-- <select  name="tech_Stack" [(ngModel)]="lineBuilder_Header"  class="clr-dropdown">
                <option value="null">Choose wireframe column name</option>
                <option *ngFor="let item of wireframeColName" [value]="item">{{ item }}
                </option>
              </select> -->
            </div>
        </div>
    <br>
    <div class="center">
      <button type="submit" form-control class="btn btn-primary">UPDATE</button>
    </div>
  </form>
</div>