
input[type=text],[type=date],[type=datetime-local],textarea {
  width: 100%;
  padding: 15px 15px;
  //margin: 2px 0;
  background-color:rgb(255, 255, 255);
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.required-field{
  color: red;
}
.req{
  color: red;
}
.center {
  text-align: center;

}

@media (max-width: 600px){
.horizontal,.middle,.horizontal1,.middle1 {
width: 100%;
}}
select{
  width: 100%;
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.section p {
  background-color: rgb(206, 201, 201);
    padding: 10px;
    font-size: 18px;
  }
  // table tr:nth-child(1){
  //   counter-reset: rowNumber;
  // }
  // table tr {
  //   counter-increment: rowNumber;
  // }
  // table tr td:first-child::before {
  //   content: counter(rowNumber);
  //   min-width: 1em;
  //   margin-right: 0.5em;
  // }
  .td-title {
    text-align: center;
  color: white;
    font-weight: bold;
    background-color: rgba(63, 122, 231, 0.863);
    //color: rgb(24, 13, 13);
  }
