<ol class="breadcrumb breadcrumb-arrow font-trirong">
  <li><a href="javascript://" [routerLink]="['/main']"><clr-icon shape="home"></clr-icon></a></li>
  <li><a href="javascript://">About Us</a></li>
</ol>

<div class="text-center" style="margin-top: 10px;">
  <img width="200" alt="Image" src="../../../../../assets/images/copyfromPrj.png">
  <h1 style="color: rgb(30, 122, 228)">
    <!-- <a href="https://angular.io/" target="_blank">Angular {{ version.full }} </a>
    and <a href="https://clarity.design" target="_blank">Clarity Design System 5.1.1</a> -->
    <h1><b>About Us</b></h1>
  </h1>
  <strong> create new project to new user if you have accesss,if dont have access then contact admin.</strong>
</div>
