//@import "../../../../assets/scss/var";
.s-info-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    button {
      outline: none;
    }
  }
  
  .entry-pg {
    width: 750px;
  }
  
  .button1::after {
    content: none;
  }
  .button1:hover::after {
    content: "ADD ROWS";
  }
  
  $bg-color: #dddddd;
  
  .section {
    background-color: $bg-color;
    height: 40px;
  }
  
  .section p {
    //color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 18px;
  }
  
  .clr-input {
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 0.75rem 0.75rem;
    margin-top: 3px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .clr-file {
    color: #212529;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    //padding: 0.6rem 0.75rem;
    margin-top: 3px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  .center {
    text-align: center;
  }
  input[type=text],[type=date],textarea {
    width: 100%;
    padding: 15px 15px;
   // margin: 8px 0;
   background-color:rgb(255, 255, 255);
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .required-field{
    color: red;
  
  }
  select{
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  