<clr-main-container>
  <clr-header class="header-5">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <a href="#" class="logo">
          <img class="img" src="assets/images/icon/micrologo.png" alt="" height="50" width="50">
        </a>
        <div style="width:40px;margin-right:10px;">

      </div>
        <span class="title">cloudnSure</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a href="javascript://" class="active nav-link nav-icon" routerLink="/cns-portal/dashboard/order">
        <clr-icon shape="home"></clr-icon>
      </a>
      <a href="javascript://" class="nav-link nav-icon storage-tour">
        <clr-icon shape="folder"></clr-icon>
      </a>
      <a href="javascript://" target="_blank"  class="nav-link nav-icon chat-team-tour" (click)="message()">
        <clr-icon shape="chat-bubble"></clr-icon>
      </a>
    </div>
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for keywords...">
      </label>
    </form>








    <div class="header-actions">
      <span (click)="restartTour()" style="display: flex;align-items: center;margin-right: 20px;">
        <clr-icon shape="play"></clr-icon>
    </span>
      <clr-dropdown>
        <button class="nav-text demo-title" clrDropdownTrigger>
          <clr-icon shape="user"></clr-icon><label style="line-height: 60px; cursor: pointer;"> {{userName}}</label>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript://" clrDropdownItem routerLink="/cns-portal/about">About</a>
          <a href="javascript://" clrDropdownItem routerLink="profile-settings">Profile Settings</a>
          <a href="javascript://" clrDropdownItem routerLink="myworkspace">My Workspaces</a>
          <a href="javascript://" clrDropdownItem routerLink="/cns-portal/passwordreset">Change Password</a>
          <a href="javascript://" clrDropdownItem (click)="onLogout()">Log out</a>

        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>

  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>

    <clr-vertical-nav  [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" [clr-nav-level]="2">

       <!-- /cns-portal/project/all  *ngIf="menuFlag" -->
 <clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="flag" clrVerticalNavIcon class="project-visit-tour"></clr-icon>
  Projects
  <clr-vertical-nav-group-children>
    <a  clrVerticalNavLink routerLinkActive="active"  routerLink="/cns-portal/projectcard">
      <clr-icon  clrVerticalNavIcon shape="flag"></clr-icon>
     My Projects </a>
     <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/allproject" [queryParams]="{ tab: 'mypro' }">
      <clr-icon  clrVerticalNavIcon shape="flag"></clr-icon>
     All Projects </a>
     <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/allproject" [queryParams]="{ tab: 'temp' }">
        <clr-icon  clrVerticalNavIcon shape="plugin"></clr-icon>
            Templates
      </a>
     <a  clrVerticalNavLink routerLinkActive="active"routerLink="/cns-portal/allrepo" >
          <clr-icon  clrVerticalNavIcon shape="objects"></clr-icon>
        Repositories
      </a>
     <a  clrVerticalNavLink routerLinkActive="active"  routerLink="/cns-portal/recentlymodify">
        <clr-icon  clrVerticalNavIcon shape="clock"></clr-icon>
      Recently Modified
    </a>
     <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/recentlyarchived">
      <clr-icon  clrVerticalNavIcon shape="trash"></clr-icon>
     Recently Archieved </a><hr>
     <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/allprojectcard3">
      <clr-icon  clrVerticalNavIcon shape="users"></clr-icon>
     Shared with me </a>
     <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/allfav">
      <clr-icon  clrVerticalNavIcon shape="heart"></clr-icon>
     My Fav </a>

  </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
<clr-vertical-nav-group routerLinkActive="active">
  <clr-icon shape="code" clrVerticalNavIcon class="project-visit-tour"></clr-icon>
  Code-Extractor
  <clr-vertical-nav-group-children>
    <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/tech-stack">
      <clr-icon  clrVerticalNavIcon shape="layers"></clr-icon>
     Technology Stack </a>
     <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/rule-library">
      <clr-icon  clrVerticalNavIcon shape="factory"></clr-icon>
     Builder Rule Library </a>
     <a  clrVerticalNavLink routerLinkActive="active" routerLink="/cns-portal/exception-rule-library">
      <clr-icon  clrVerticalNavIcon shape="library"></clr-icon>
     Exception Rule Library </a>
     <a  clrVerticalNavLink routerLinkActive="active"  routerLink="/cns-portal/code-extraction">
      <clr-icon  clrVerticalNavIcon shape="code"></clr-icon>
     Code Extractor </a>
  </clr-vertical-nav-group-children>
</clr-vertical-nav-group>
       <!-- <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="assign-user" clrVerticalNavIcon></clr-icon>

       Super Admin
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./query" routerLinkActive="active">
            Query
          </a>

        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="user" clrVerticalNavIcon></clr-icon>
        Admin
        <clr-vertical-nav-group-children>

          <a clrVerticalNavLink routerLink="./log" routerLinkActive="active">
            Log Configuration
          </a>
          <a clrVerticalNavLink routerLink="./university" routerLinkActive="active">
            headerlinesmodal
          </a>
          <a clrVerticalNavLink routerLink="./ncso" routerLinkActive="active">
          NCSO
          </a>
          <a clrVerticalNavLink routerLink="./workflow" routerLinkActive="active">
            Workflow
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>

      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="scroll" clrVerticalNavIcon></clr-icon>
        Job
        <clr-vertical-nav-group-children>
          <a clrVerticalNavLink routerLink="./scheduler" routerLinkActive="active">
            JobLogs
          </a>
          <a clrVerticalNavLink routerLink="./pipeline" routerLinkActive="active">
            PendingJobs
          </a>
          <a clrVerticalNavLink routerLink="./scheduleinfo" routerLinkActive="active">
            DefineJobs
          </a>
          <a clrVerticalNavLink routerLink="./sureconnect" routerLinkActive="active">
            SureConnect
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="lock" clrVerticalNavIcon></clr-icon>
        Security
        <clr-vertical-nav-group-children>

          <a clrVerticalNavLink routerLink="./systemparameters" routerLinkActive="active">
            System Parameters
          </a>
          <a clrVerticalNavLink routerLink="./usermaintance" routerLinkActive="active">
            User Maintance
          </a>
         <a clrVerticalNavLink routerLink="./usergrpmaintance" routerLinkActive="active">
            UserGroup Maintance
          </a>
          <a clrVerticalNavLink routerLink="./menumaintance" routerLinkActive="active">
            Menu Maintance
          </a>
          <a clrVerticalNavLink routerLink="./menuaccess" routerLinkActive="active">
            MenuAccess Control
          </a>

        <a clrVerticalNavLink routerLink="./systemparameters" routerLinkActive="active">
            System Parameters
          </a>

          <a clrVerticalNavLink routerLink="./documnetmaster" routerLinkActive="active">
            Document Master
          </a>
          <a clrVerticalNavLink routerLink="./documentstructure" routerLinkActive="active">
            Document Structure
          </a>
          <a clrVerticalNavLink routerLink="./documentreference" routerLinkActive="active">
            Document Refrence
          </a>

        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group>
      <clr-vertical-nav-group routerLinkActive="active">
        <clr-icon shape="view-columns" clrVerticalNavIcon></clr-icon>
        SureBoard
        <clr-vertical-nav-group-children>

          <a clrVerticalNavLink routerLink="./roadmap" routerLinkActive="active">
            RoadMap
          </a>
          <a clrVerticalNavLink routerLink="./iteration" routerLinkActive="active">
          Iteration Release
          </a>
          <a clrVerticalNavLink routerLink="./milestone" routerLinkActive="active">
            Milestone
          </a>
          <a clrVerticalNavLink routerLink="./goal"  routerLinkActive="active">
          Goal
          </a>
          <a clrVerticalNavLink  routerLink="./sureboard" routerLinkActive="active">
            WBS Task Board
          </a>
          <a clrVerticalNavLink  routerLink="./user-story" routerLinkActive="active">
            User story
          </a>
          <a clrVerticalNavLink  routerLink="./features" routerLinkActive="active">
            Features
          </a>
        </clr-vertical-nav-group-children>
      </clr-vertical-nav-group> -->



      <div *ngFor="let menu of menus">
        <!-- NEED MODIFICATION-->
        <!-- <div *ngIf="menu.sub_menus.length >=1;then content else other_content"></div> -->
        <div *ngIf="menu.subMenus !== null && menu.subMenus?.length >=1;then content else other_content"></div>
        <ng-template #content>
            <!-- if sub munu is present -->
                <clr-vertical-nav-group routerLinkActive="active">
                    <clr-icon [attr.shape]="menu.main_menu_icon_name" clrVerticalNavIcon></clr-icon>
                    {{ menu.menuItemDesc }}
                    <!-- SUB NAV-->
                    <clr-vertical-nav-group-children *ngFor="let subnav of menu.subMenus">
                        <a clrVerticalNavLink  *ngIf="subnav.mvisible == 'true'"   routerLinkActive="active" (click)="send(subnav)">
                           <!-- <clr-icon [attr.shape]="subnav.mainMenuIconName" clrVerticalNavIcon></clr-icon>'./' + subnav.main_menu_action_name  (click)="send(subnav) [ngStyle]="subnav.mvisible == 'true' && { 'display': 'none' }"
                          [routerLink]=subnav.mvisible == 'true' ? ['./' + subnav.main_menu_action_name] : []-->
                          {{ subnav.menuItemDesc }}
                        </a>
                    </clr-vertical-nav-group-children>
                </clr-vertical-nav-group>
            <!-- </div> -->
        </ng-template>
        <ng-template #other_content>
           <!-- if sub menu is not present -->
            <a clrVerticalNavLink routerLinkActive="active" [routerLink]="'./'+ menu.main_menu_action_name">
               <clr-icon [attr.shape]="menu.main_menu_icon_name" clrVerticalNavIcon></clr-icon>
                {{ menu.menuItemDesc }}
            </a>
        </ng-template>
    </div>



    <!-- Master Menu -->



     <a  clrVerticalNavLink routerLinkActive="active" >
      <button id="add" class="btn btn-primary" style="width: 200px; position: fixed;bottom: 0; left: 0;" (click)="modaladd()">
        <clr-icon shape="plus"></clr-icon>ADD A new Team
      </button> </a>
    </clr-vertical-nav>




  </div>

</clr-main-container>

<clr-modal [(clrModalOpen)]="modalteam" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="true">
  <h5 class="modal-title">Add A Team To Real It Solutions</h5>
  <div class="modal-body">
    <form>
      <div class="clr-row">
        <div class="clr-col-md-6 clr-col-sm-12" >
          <label>Name: </label>
        <input class="clr-input"  type="text" name="name"  placeholder="Enter name">
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="modalteam = false">Cancel</button>
      <button type="submit"  class="btn btn-primary" >Add</button>
      </div>
    </form>
  </div>
</clr-modal>

<ngx-guided-tour></ngx-guided-tour>
