<div class="dg-wrapper">
    <div class="clr-row">
        <div class="clr-col-8">
            <h3>Email to Database</h3>
        </div>
        <div class="clr-col-4" style="text-align: right;">
            <button class="btn btn-outline">
                <clr-icon shape="export"></clr-icon> xlsx
            </button>
            <button id="add" class="btn btn-primary" (click)="goToAdd1()">
                <clr-icon shape="plus"></clr-icon>ADD
            </button>
        </div>
    </div>

    <clr-datagrid [clrDgLoading]="loading" [(clrDgSelected)]="selected">
        <clr-dg-placeholder><ng-template #loadingSpinner><clr-spinner>Loading ... </clr-spinner></ng-template>
            <div *ngIf="error;else loadingSpinner">{{error}}</div>
        </clr-dg-placeholder>

        <clr-dg-column [clrDgField]="'Id'"> <ng-container *clrDgHideableColumn="{hidden: false}">
                Id
            </ng-container></clr-dg-column>
        <clr-dg-column [clrDgField]="'username'"> <ng-container *clrDgHideableColumn="{hidden: false}">
                Username
            </ng-container></clr-dg-column>
        <clr-dg-column [clrDgField]="'password'"> <ng-container *clrDgHideableColumn="{hidden: false}">
                Password
            </ng-container></clr-dg-column>

        <clr-dg-row *clrDgItems="let user of  data" [clrDgItem]="user">

            <clr-dg-cell>{{user.id}}</clr-dg-cell>
            <clr-dg-cell>{{user.username}}</clr-dg-cell>
            <clr-dg-cell>{{user.password}}</clr-dg-cell>

            <clr-dg-action-overflow>

                <button class="action-item" (click)="goToEdit(user.id)">Edit <clr-icon shape="edit"
                        class="is-error"></clr-icon></button>
                <button class="action-item" (click)="onDelete(user)">Delete<clr-icon shape="trash"
                        class="is-error"></clr-icon></button>
            </clr-dg-action-overflow>
            <clr-dg-row-detail *clrIfExpanded>
                <table class="table">
                    <tr>
                        <td class="td-title">username: </td>
                        <td class="td-content">{{user.username}}</td>
                    </tr>
                </table>
            </clr-dg-row-detail>
        </clr-dg-row>

        <clr-dg-footer>
            <clr-dg-pagination #pagination [clrDgPageSize]="10">
                <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Users per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} users
            </clr-dg-pagination>
        </clr-dg-footer>
    </clr-datagrid>
</div>

<clr-modal [(clrModalOpen)]="modaldelete" [clrModalSize]="'lg'" [clrModalStaticBackdrop]="true">

    <div class="modal-body" *ngIf="rowSelected.id">
        <h1 class="delete">Are You Sure Want to delete?</h1>
        <h2 class="heading">{{rowSelected.id}}</h2>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="modaldelete = false">Cancel</button>
            <button type="submit" (click)="delete(rowSelected.id)" class="btn btn-primary">Delete</button>
        </div>
    </div>
</clr-modal>