<clr-main-container>
<clr-header class="header-5">
  <div class="branding">
    <a href="javascript://" class="nav-link">
      <a href="#" class="logo">
        <img class="img" src="assets/images/icon/micrologo.png" alt="" height="50" width="50">
      </a>
      <div style="width:40px;margin-right:10px;">

    </div>
      <span class="title">cloudnSure</span>
    </a>
  </div>
</clr-header>



  <!-- <div *ngIf="editMode === 'data1';then basic_property"> -->


  <!-- <div class="container">

    <h2 class="text-center"><b>Welcome to <strong>cloudnsure!</strong></b></h2>
    <h5 class="text-center">You're signing up as <strong style="font-size: 20px;">here is email</strong></h5>
    <br>

    <form [formGroup]="form" (ngSubmit)="onContinue()" class="pop" style="text-align: center;">

      <div class="clr-col-md-4 clr-col-sm-12 center">
        <label for="controllerName"><strong>What's your full name?</strong></label><br/>
        <input class="clr-input" type="text" id="name" formControlName="name"  value="name"
        >

      </div>


      <div class="clr-col-md-4 clr-col-sm-12 center">
        <label for="controllerName"><strong>Password</strong></label><br/>
        <input class="clr-input" type="password" id="password" formControlName="password"
        >


      </div>
      <br/>
      <div class="clr-col-md-4 clr-col-sm-12 center">
        <label for="controllerName"><strong>Re-enter Password</strong></label><br/>
        <input class="clr-input" type="password" id="cpass" formControlName="">


      </div>
      <br>
      <div class="clr-col-md-4 clr-col-sm-12 center">
        <label for="controllerName"><strong>Mobile</strong></label><br/>

        <input formControlName="mobile" class="clr-input" type="number" ng2TelInpu
        />

      </div>

      <br>
      <div class="clr-col-md-4 clr-col-sm-12 center">
        <label for="controllerName"><strong>Email</strong></label><br/>
        <input class="clr-input" type="text" id="email" name="email" formControlName="email"
        >

      </div>
      <br>

      <br>
      <div class="center text-center">
        <button type="submit" class="btn btn-primary">continue</button>
      </div>

    </form>
    <br/>


    <h4>Wrong account? <a href="">Log in</a> instead.</h4>

  </div> -->

  <div class="container">
    <div class="display_msg">
      <h2 class="text-center"><b>Welcome to <strong>cloudnsure!</strong></b></h2>
    <h5 class="text-center" *ngIf="email">You're signing up as <strong style="font-size: 20px;">{{email}}</strong></h5>
      <br>
      <form class="form" [formGroup]="form">
        <label><b>First Name</b></label><br>
        <input type="text" class="form__field"  placeholder="Enter First Name" formControlName="first_name">
        <div *ngIf="f.first_name.invalid && (f.first_name.dirty || f.first_name.touched)"
        style="color:indianred; font-weight: bold">
        <div *ngIf="f.first_name.errors.required">First Name is required</div>
        </div>
        <br>
        <label><b>Last Name</b></label><br>
        <input type="text" class="form__field"  placeholder="Enter Last Name" formControlName="last_name">
        <div *ngIf="f.last_name.invalid && (f.last_name.dirty || f.last_name.touched)"
        style="color:indianred; font-weight: bold">
        <div *ngIf="f.last_name.errors.required">Last Name is required</div>
      </div>
        <br>
        <label><b>Mobile Number</b></label><br>
        <input type="text" class="form__field"  placeholder="Enter Mobile Number" formControlName="mob_no">
        <div *ngIf="f.mob_no.invalid && (f.mob_no.dirty || f.mob_no.touched)"
        style="color:indianred; font-weight: bold">
        <div *ngIf="f.mob_no.errors.required">Mobile Number is required</div>
        <div *ngIf="f.mob_no.errors.minlength">Mobile Number is 10 numbers</div>
      </div>
        <br>
        <label><b>New Password</b></label><br>
      <input class="form__field" type="password" [type]="newpHide ? 'password': 'text'"
        placeholder="Enter New Password" formControlName="password"/>
      <clr-icon [attr.shape]="newIcon" (click)="newShapeChanger()"></clr-icon>
      <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)"
        style="color:indianred; font-weight: bold">
        <div *ngIf="f.password.errors.required">password is required</div>
        <div *ngIf="f.password.errors.minlength">Password must be Minimum 6 Characters</div>
      </div>
      <br>
      <label><b>Re-Enter New Password</b></label><br>
      <input class="form__field" type="password" [type]="cpHide ? 'password': 'text'"
        placeholder="Re-Enter  New Password" formControlName="confirm_passwordS"/>
      <clr-icon [attr.shape]="conIcon" (click)="comfShapeChanger()"></clr-icon>
      <div *ngIf="f.confirm_passwordS.invalid && (f.confirm_passwordS.dirty || f.confirm_passwordS.touched)"
        style="color:indianred; font-weight: bold">
        <div *ngIf="f.confirm_passwordS.errors.required">Password is required.</div>
        <div *ngIf="f.confirm_passwordS.errors.confirmedValidator">Password and Confirm Password must be match.</div>
      </div>

        <button type="submit" class="btn btn--primary uppercase" (click)="onsubmit()">continue</button>
      </form>
      <br>
      <p style="color: red;" *ngIf="passchange"><clr-icon shape="check"></clr-icon> User Info Is Added Please Login </p>
      <p> Wrong account? <a routerLink="/login">Log in</a> instead.</p>
    </div>
  </div>






