<div class="main">
  <div class="container">
    <div class="chat-area">
      <div class="income-msg">
      <!-- <img class="avatar" src="assets/download.png" alt="" style="display: inline;">
      <div  class="message-text"><div  style="display: inline;">
        <a  class="user-name" href="#">Theophilus Omoregbee</a><span  class="timestamp">9:00 AM</span>
        </div></div>
      <span class="msg">Hi,How can I help you?</span> -->
      </div>
     <div> <img class="avatar" src="assets/download.png" alt="">&nbsp;
      <span  class="message-text"><span >
        <a  class="user-name" href="#">Ashwini</a><span  class="timestamp">9:00 AM</span>
        </span></span>
      <div style="margin-left: 40px;"><span class="msg">hiiii</span></div>
      <img class="avatar" src="assets/download.png" alt="">&nbsp;
      <span  class="message-text"><span >
        <a  class="user-name" href="#">Ash</a><span  class="timestamp">9:00 AM</span>
        </span></span>
      <div style="margin-left: 40px;"><span class="msg">hiiii</span></div>
    </div>
  </div>
  </div>
  <div class="input-area" style="margin-top: 460px;">
    <input type="text" class="input" placeholder="Type a message" required>
   <button class="submit"><i class="material-icons"> send </i></button>
  </div>
  </div>

