<h4 style="font-weight: 300;display: inline;"><b> List Builder</b></h4>
<span class="label label-light-blue" style="display: inline;margin-left: 30px;">Add Mode</span>



<hr>



<div class="container">





  <!-- entry form-->
  <form [formGroup]="entryForm" (ngSubmit)="onSubmit()">
    <div class="clr-row">
      <div class="clr-col-md-4 clr-col-sm-12">
        <label for="techStack">Technology Stack</label>
        <select  formControlName="tech_Stack" selected="null" class="clr-dropdown">
          <option value="null">Choose Technology</option>
          <option *ngFor="let ts of tech_stacks" [value]="ts.tech_stack">{{ ts.tech_stack }}
          </option>
        </select>

      </div>

      <div class="clr-col-md-4 clr-col-sm-12">
        <label for="objectType">Line Builder Name</label>
        <input  type="text" formControlName="lb_name" placeholder="Enter lb name" class="clr-input">

      </div>

      <div class="clr-col-md-4 clr-col-sm-12">
        <label for="subObjectType">Description</label>
        <input  type="text" formControlName="description" placeholder="Enter description" class="clr-input">
      </div>

      <div class="clr-col-md-4 clr-col-sm-12">
        <label for="uiName">Menu Name</label>
        <input  type="text" formControlName="menuName" placeholder="Enter menu Name" class="clr-input">
      </div>
      <div class="clr-col-md-4 clr-col-sm-12" style="margin-top: 15px;">
        <div><label for="testing">build</label>
          <div><input type="checkbox" formControlName="build"></div>
        </div>
      </div>
    </div>
    <br>

    <div class="center">
      <button type="submit" class="btn btn-primary">SUBMIT</button>
      <!--<button type="submit" class="btn btn-primary" (click)="submit2()">SUBMIT2</button>
      <button type="submit" class="btn btn-primary" (click)="submit2()">SUBMIT3</button>-->
    </div>

  </form>
</div>
