<clr-main-container>
  <clr-header class="header-5">
    <div class="branding">
      <a href="javascript://" class="nav-link">
        <a href="#" class="logo">
          <img class="img" src="assets/images/icon/micrologo.png" alt="" height="50" width="50">
        </a>
        <div style="width:40px;margin-right:10px;">

      </div>
        <span class="title">cloudnSure</span>
      </a>
    </div>
  </clr-header>

  <div class="container">

    <div class="email_check">
      <h2><b>Forgot My Username Or Password </b></h2>
      <p style="font-size:15px;">By singing up, I agree to the cloudnsure <u>Privacy Policy</u> and <u>Terms of
          Service</u></p><br>
          <form class="form" [formGroup]="emailCheckForm">
        <input class="form__field" type="text"  placeholder="email@company.com" formControlName="email"/>
        <div *ngIf="emailErrMsg" style="color:indianred; font-weight: bold">{{emailErrMsg}}</div>
        <br><br>
        <button type="submit"class="btn btn--primary btn--inside uppercase" (click)="onsubmit()">Send Me Access Link</button>


      </form>
      <br>
    <p *ngIf="emailsend" style="color: red;">{{emailsend}}</p>
    </div>
  </div>
</clr-main-container>




