


.btn-group{
  padding-top: 20px;
}
.setting{
  padding-left: 20px;

}
#btn {
  display: flex;
}

#btn .btn {
  flex: 1
}
.id{
  background-color: rgb(159, 153, 153);
color: white;
font-family: var(--fonts-monospace);
    font-size: 13px;
    padding: 6px 10px 4px;
    font-weight: 400;
    margin: 0 6px;
}
input {
  margin: 0;
  max-width: 100%;
  flex: 1 0 auto;
  outline: none;
  -webkit-tap-highlight-color: rgba(255,255,255,0);
  text-align: left;
  line-height: 1.21428571em;
  font-family: var(--fonts-regular);
  padding: .67857143em 1em;
  background: #FFFFFF;
  border: 1px solid rgba(34,36,38,.15);
  color: rgba(0,0,0,.87);
  border-radius: .28571429rem;
  transition: box-shadow .1s ease,border-color .1s ease;
  box-shadow: none;
}
.download{
  float: right;
  padding-top: 15px;
}
#setting{
  float: right;
}
.right{
  width: 150px;
}

#read clr-icon{
  opacity: 0;
}
#read clr-icon:hover{
  opacity: 1;
}
