input[type=text],[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.delete,.heading{
  text-align: center;
  color: red;
}
.section p {
background-color: rgb(206, 201, 201);
  padding: 10px;
  font-size: 18px;
}
