input[type=text],
select {
    width: 70%;
    padding: 3px 5px;
    margin: 7px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 70%;
    padding: 3px 5px;
    margin: 7px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;

    box-sizing: border-box;
}

input[type=email],
select {
    width: 70%;
    padding: 3px 5px;
    margin: 7px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;

    box-sizing: border-box;
}

input[type=password],
select {
    width: 70%;
    padding: 3px 5px;
    margin: 7px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;

    box-sizing: border-box;
}

.center {
    text-align: center;
}
select{
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  