input[type=text],[type=date],[type=password],[type=datetime-local] {
  width: 100%;
  padding: 15px 20px;
 // margin: 3px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.required-field{
  color: red;
font-size: 18px;

}
.error_mess{
  color: red;
}
.green{
  background-color: rgb(156, 231, 156);
  color: black;
}
.blue{
  background-color: #57abcf;//rgb(82, 87, 161);
  color: black;
}
.td-title {
  text-align: center;
  width: 150px;
color: white;
  font-weight: bold;
  background-color: rgba(63, 122, 231, 0.863);
  //color: rgb(24, 13, 13);
}

.td-content{
  text-align: left;
}
.delete,.heading{
  text-align: center;
  color: red;
}
.section p {
background-color: rgb(206, 201, 201);
  padding: 10px;
  font-size: 18px;
}

select{
  width: 100%;
  padding: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
clr-icon.red {
  fill: red;
  cursor: pointer;

}
clr-icon.gray {
  fill: gray;
  cursor: not-allowed;
  pointer-events: none;
}
clr-icon.green{
  fill:green;
  cursor: pointer;
}
clr-icon.orange{
  fill:orange;
  cursor: pointer;
}
